<h1>About Us</h1>
<p>
	<%= link_to "One Month Rails", "http://onemonthrails.com"%>
	is a project to teach Evan
	<%= link_to "Ruby on Rails", "http//rubyonrils.org"%> 
	so that he may build a specizlied social network.

</p>

