<div class="center hero-unit">
    <h1>Welcome to Motion! </h1>
    
    <p>You've discovered the home page for 
    	<%= link_to 'Motion',  "http://onemonthrails.com" %>, the application that takes you into the real world.
    	</p>

    	<p> <%= link_to 'Sign up now!',  "#" , class: "btn btn-large btn-success" %>
     </p>

   
</div>


